# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.cache
*.log

# Publish
Properties/PublishProfiles/*.user

# App settings secrets
appsettings.Development.json

# OS
.DS_Store
Thumbs.db
